.user {
	padding: 10% 2% 5%;
}

.image-box {
	padding: 0;
	width: 25%;
	margin: 0 auto;
}

.image-box img {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 20px;
}

.main-user {
	width: 90%;
	margin: 0 auto;
}

.committee-member-child {
	display: flex;
	flex-direction: row;
	width: 90%;
	margin: 0 auto;
}

.user-details {
	text-align: left;
	font-size: 18px;
}

.link-tag {
	color: #ff003f;
	opacity: 0.5;
}

.committee-member-child p:nth-child(odd) {
	text-align: center;
	width: 40%;
	padding-top: 1%;
}

.committee-member-child p:nth-child(even) {
	text-align: center;
	width: 10%;
	padding-top: 1%;
}

.intro {
	text-align: left;
}

.intro a button {
	width: 40%;
	margin: 5px 0 5% 60%;
	box-shadow: none;
	padding: 10px;
	font-size: 18px;
	background: #ccc;
}

.intro a button:hover {
	transition: .3s;
	background: #ddd;
}

.post-container {
	width: 80%;
	margin: 20px auto;
	border-radius: 10px;
	box-shadow: 1px 1px 10px black;
}

.post-container img {
	border-radius: 10px 10px 0 0;
}

.image-container {
	width: 100%;
}

.image-container img {
	width: 100%;
	object-fit: cover;
}

.user-details button {
	padding: 10px;
	box-shadow: none;
	background: #ddd;
}

.main-popup {
	width: 35%;
	position: fixed;
	top: 25%;
	left: 25%;
	background: #ff0033;
	box-shadow: 1px 1px 10px gray;
	padding: 10px;
	background: #ff003f;
	color: white;
	border-radius: 10px;
	z-index: 10;
}

.popup-title {
	font-size: 18px;
}

.main-popup button {
	padding: 2%;
	margin: 1%;
	min-width: 100px;
}

.event-post-option {
	font-size: 20px;
	padding: 20px;
}

.user hr {
	display: none;
}

@media only screen and (max-width: 720px) {
	.user {
		/* color: white; */
	}

	.link-tag {
		color: #ff003f;
		opacity: 0.7;
		text-decoration: none;
	}

	.post-container {
		width: 100%;
	}

	.post-container h3 {
		margin: 0 0 5px;
	}

	.main-popup {
		width: 90%;
		left: 3%;
	}

	.intro button {
		width: 30%;
		margin: 5px auto;
	}

	.user hr {
		display: block;
	}
}
