.event-card {
	width: 80%;
	margin: 20px auto 40px;
	box-shadow: 1px 1px 8px black;
	border-radius: 10px;
  	background: white;
}

.event-card-image {
	width: 100%;
}

.event-card-image img {
	width: 100%;
	border-radius: 10px 10px 0 0;
}

.event-card-content {
	text-align: left;
	padding: 0 10px 10px 10px;
	word-wrap: break-word;
}

.event-card-content h3 {
	margin: 5px auto;
	text-align: center;
}

.event-card-content .organized {
	margin: 5px auto;
	text-align: center;
	color: #E79981;
	font-size: 14px;
}

.event-card-content p {
	font-size: 14px;
}

@media only screen and (max-width: 720px) {
  .event-card {
  	width: 100%;
  	background: #FAF2EF;
	box-shadow: 1px 1px 10px black;
	color: #1D5F74;
  }

  .event-card-content h3 {
	  font-size: 16px;
  }

  .event-card-content p {
	  font-size: 14px;
  }
}
