.navbar {
	display: flex;
	flex-wrap: wrap;
	background: #55887C;
	flex-direction: column;
	/* box-shadow: 1px 1px 10px #aaa; */
	/* height: 150px; */
	color: white;
	position: relative;
	top: 0;
}

.navbar h1 {
	width: 100%;
	margin: 5px 0;
	color: #FAF2EF;
}

.navbar p {
	font-weight: 450;
	margin-top: 10px;
	font-size: 14px;
	width: 100%;
	letter-spacing: 1px;
	font-style: italic;
	color: #FAF2EF;
}

.nav-icons {
	z-index: 10;
	display: flex;
	flex-direction: column;
	width: 0;
	height: 100%;
	margin: 0 auto;
	position: fixed;
	top: 0;
	background: #55887C;
	color: aliceblue;
	z-index: 5;
	box-shadow: 0 0 10px black;
	transition: .5s;
	opacity: 0;
}

.show-nav-icons {
	width: 100px;
	transition: .5s;
	opacity: 1;
	z-index: 10;
}

.icons {
	width: 100%;
	padding: 10px 0;
	font-size: 20px;
	color: #FAF2EF;
	margin: 20px auto;
}

.icons span {
	font-size: 16px;
}

@media only screen and (max-width: 720px){
	.navbar h1 {
		font-size: 25px;
		letter-spacing: 2px;
	}
	
	.show-nav-icons {
		width: 60px;
	}

	.icons {
		/* width: 25%; */
		margin: 5px auto 0;
	}

	.icons span {
		font-size: 12px;
	}

	.icons:nth-child(4) {
		display: block;
	}

	.navbar p {
		margin: 2px auto;
	}
}