.committee-title {
	color: black;
}

.create-committee-body {
	display: flex;
	flex-direction: row;
}

.create-committee-title {
	width: 40%;
	/* max-width: 576px; */
	margin: 0;
	background-image: url("../../images/create_committee_desktop.png");
	min-height: 100vh;
	background-repeat: no-repeat;
	background-size: contain;
}

.committee-content {
	color: black;
	width: 95%;
	margin: 10px auto;
}

.registered-user .svg-inline--fa {
	font-size: 30px;
}

.create-committee-body .editor__buttons {
	background: #55887C;
}

.pre-description {
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	word-wrap: break-word;
	white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;
}

@media only screen and (max-width: 720px) {
	.committee-title {
		/* color: white; */
		font-size: 18px;
		letter-spacing: 1px;
	}

	.create-committee-body {
		flex-direction: column;
	}
	
	.create-committee-title {
		background: url("../../images/create_committee_mobile.svg");
		width: 100%;
		min-height: 230px;
		background-repeat: no-repeat;
		background-size: contain;
	}


	.registered-user .svg-inline--fa {
		margin: auto;
		font-size: 25px;
	}

	.registered-user p {
		/* margin: 7px auto; */
		font-size: 12px;
	}

	.member-button {
		width: 40%;
	}

	.committee-content {
		/* color: white; */
	}
}

@media only screen and (max-width: 576px) {
	.create-committee-title {
		min-height: 200px;
	}
}

@media only screen and (max-width: 420px) {
	.create-committee-title {
		min-height: 150px;
	}
}