.create-event-box {
	color: #55887C;
	display: flex;
}

.create-event-title {
	width: 40%;
	margin: 0;
	background-image: url('../../images/create_event_desktop.svg');
	min-height: 100vh;
	background-repeat: no-repeat;
	position: fixed;
	background-size: contain;
}

.create-event-title img {
	width: 100%;
}

.create-event-sub-heading {
	font-size: 22px;
	letter-spacing: 3px;
	font-weight: 600;
	color: #55887C;
}

.create-event-form {
	display: flex;
	flex-direction: column;
	font-size: 20px;
	width: 60%;
	margin-left: 40%;
}

.create-event-input {
	font-size: 16px;
	width: 60%;
	margin: 10px auto;
	outline: none;
	border: 1px solid #55887C;
	border-radius: 20px;
	padding: 10px;
	background: white;
	resize: vertical;
}

.create-event-file {
	width: 1px;
	height: 1px;
	margin: 0 auto;
}

.create-event-image {
	width: 90%;
	border-radius: 10px;
	margin: 5%;
}

.event-form-description {
	width: 65%;
	margin: 0 auto;
}

.instructor-box {
	width: 60%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
}

.instructor {
	width: 90%;
}

.instructor .create-event-input {
	width: 95%;
}

select {
	border-radius: none;
	border: none;
}

.create-event-box input:focus {
	outline: none;
}

.hamburger {
	padding: 10px 15px;
	border-radius: 50%;
	background: #55887C;
	color: #FAF2EF;
	box-shadow: 0 0 5px black;
	cursor: pointer;
	z-index: 5;
}

@media only screen and (max-width; 1024px) {
	.create-event-title {
		width: 50%;
	}

	.create-event-form {
		margin-left: 50%;
		width: 50%;
	}
}

@media only screen and (max-width: 720px) {
	.create-event-box {
		flex-direction: column;
	}
	
	.create-event-title {
		background-image: url("../../images/host_event_bg.svg");
		width: 100%;
		background-size: contain;
		min-height: 230px;
		position: static;
	}

	.create-event-form {
		width: 100%;
		margin: 0 auto;
		/* margin-top: 230px; */
		margin-left: 0;
	}

	.create-event-input {
		color: black;
		width: 80%;
		border-radius: 10px;
	}

	.create-event-input {
		font-size: 14px;
	}

	.event-form-description {
		width: 90%;
	}

	.create-event-sub-heading {
		font-size: 18px;
	}

	.instructor-box {
		width: 80%;
	}

	.hamburger {
		padding: 5px 8px;
		font-size: 20px;
		box-shadow: 0 0 5px grey;
	}
}

@media only screen and (max-width: 470px) {
	.create-event-title {
		min-height: 150px;
	}

	.create-event-form {
		/* margin-top: 150px; */
	}
}