.create-event-box {
	color: #55887C;
}

.create-event-title {
	width: 100%;
	margin: 0;
}

.create-event-title img {
	width: 100%;
}

.create-event-sub-heading {
	font-size: 22px;
	letter-spacing: 3px;
	font-weight: 600;
	color: #55887C;
}

.create-event-box h1 {
	font-size: 40px;
}

.create-event-form {
	display: flex;
	flex-direction: column;
	font-size: 20px;
}

.create-event-input {
	font-size: 16px;
	width: 60%;
	margin: 10px auto;
	outline: none;
	border: 1px solid #55887C;
	border-radius: 20px;
	padding: 10px;
	background: white;
	resize: vertical;
}

.create-event-file {
	width: 1px;
	height: 1px;
	margin: 0 auto;
}

.create-event-image {
	width: 90%;
	border-radius: 10px;
	margin: 5%;
}

.instructor-box {
	width: 60%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
}

.instructor {
	width: 90%;
}

.instructor .create-event-input {
	width: 95%;
}

select {
	border-radius: none;
	border: none;
}

.create-event-box input:focus {
	outline: none;
}

/* .create-event-title-label {

} */

@media only screen and (max-width: 720px) {
	.create-event-box {
		/* color: white; */
	}

	.create-event-box h1 {
		font-size: 30px;
	}

	.create-event-input {
		color: black;
		width: 80%;
		border-radius: 10px;
	}

	.create-event-input {
		font-size: 14px;
	}

	.create-event-sub-heading {
		font-size: 18px;
	}

	.instructor-box {
		width: 80%;
	}
}