.form-box {
	width: 60%;
	margin: 0 auto;
	background: #ddd;
	border-radius: 10px;
	padding: 5%;
}

.form-box table {
	width: 100%;
	text-align: left;
	color: black;
}

.form-box select {
	width: 60%;
	font-size: 16px;
}

.form-button {
	margin: 20px 10px;
}

.deep-form {
	display: flex;
	width: 80%;
	margin: 0 auto;
}

.create-form-root .note {
	color: grey;
	margin: 10px auto;
	width: 90%;
}

@media only screen and (max-width: 720px){
	.create-form-root {
		/* color: white; */
	}

	.create-form-root h1 {
		font-size: 18px;
	}

	.create-form-root .note {
		font-size: 14px;
	}

	.form-box {
		width: 85%;
		padding: 5%;
		color: black;
	}
}