.form-box {
	width: 60%;
	margin: 0 auto;
	background: #ddd;
	border-radius: 20px;
	padding: 5%;
}

.form-box table {
	width: 100%;
	text-align: left;
	color: black;
}

.form-box select {
	width: 60%;
	font-size: 20px;
}

.form-button {
	margin: 20px 10px;
}

.deep-form {
	display: flex;
	width: 80%;
	margin: 0 auto;
}

@media only screen and (max-width: 720px){
	.create-form-root {
		color: white;
	}

	.form-box {
		width: 80%;
		padding: 5%;
		color: black;
	}
}