.cover-image-container {
	width: 100%;
	margin: 10px auto;
	text-align: center;
}

.event-content {
	padding: 5px 10px;
	text-align: left;
}

.event-register {
	width: 100%;
	margin: 0 auto;
}

.event-nav {
	/* width: 20%; */
	display: flex;
	border-radius: 8px;
	align-items: center;
}

.registered-user {
	background: #55887C;
	color: white;
	/* width: 30%; */
}

pre a {
	color: blue;
}

.event-register-button {
	width: 90%;
	background: #E79981;
	padding: 10px;
	color: white;
	font-size: 25px;
	border-radius: 30px;
	margin: 20px 5%;
	text-align: center;
	box-shadow: none;
	opacity: 0.9;
}

.event-content pre {
	word-spacing: 3px;
	line-height: 22px;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;
}

.event-content h3 {
	margin: 20px 0 5px;
}

.event-box-oneday {
	display: flex;
	align-items: center;
	margin: 0 auto 20px;
	width: 60%;
}

.update-event-input {
	width: 100%;
	padding: 10px;
	font-size: 18px;
	margin: 0;
	margin-bottom: 20px;
	color: black;
	border: 2px solid grey;
	background: white;
	border-radius: 15px;
	outline: none;
}

.update-event-box {
	width: 50%;
	margin: 20px auto;
	text-align: left;
}

.update-event-label {
	margin: 0;
	padding-left: 5px;
	font-size: 20px;
}

.update-event-box textarea {
	resize: none;
	font-family: Times New Roman, Sans-serif;
}

.update-event-submit {
	width: 50%;
	margin-left: 25%;
	margin-top: 20px;
	font-size: 20px;
	padding: 5px;
	border-radius: 20px;
}

.register-form-div {
	background: #eee;
	width: 95%;
	margin: 20px auto;
	padding: 20px 0;
	border-radius: 10px;
}

.register-form-note {
	font-size: 16px;
	word-break: break-all;
}

.register-form-note a {
	color: #ff003f;
	opacity: .5;
}

.register-form-sub-div {
	width: 90%;
	margin: 20px auto;
	font-size: 20px;
}

.register-form-button {
	padding: 5px 10px;
	font-size: 20px;
	border-radius: 20px;
	margin-left: 90%;
	box-shadow: none;
}

.register-form-input {
	width: 90%;
	font-size: 15px;
	border-radius: 20px;
	padding: 10px;
	outline: none;
	border: none;
}

.register-form-label {
    text-align: left;
    margin: 0;
    padding-left: 5px;
    margin-bottom: 5px;
    font-size: 16px;
}

.register-form-submit {
	width: 50%;
	margin: 20px auto;
	font-size: 20px;
	padding: 5px;
	border-radius: 20px;
}

.registered-user-box {
	text-align: left;
	margin: 10px auto;
	width: 90%;
	box-shadow: 0 0 5px black;
	display: flex;
	background: white;
	border-radius: 10px;
}

.registered-user-box li {
	list-style-type: none;
	width: 100%;
}

.registered-user-details {
	padding: 10px;
	width: 80%;
	word-wrap: break-word;
	flex-wrap: wrap;
	word-break: break-all;
}

.registered-user-image-box {
	width: 20%;
	padding: 10px;
}

.registered-user-option-button {
	cursor: pointer;
	font-size: 18px;
	position: absolute;
	left: 60%;
}

.excel-button {
	/* width: 50%; */
	font-size: 20px;
	border-radius: 25px;
	padding: 10px;
	font-weight: bold;
}

.popup-scroll-box {
	width: 90%;
	height: 90%;
	overflow: scroll;
}

.past-event-closed {
	font-weight: bold;
	font-size: 18px;
	padding: 10px;
	border: 1px solid red;
	border-radius: 10px;
}

.event-content .event-external-link p, .event-content .event-external-link a {
	margin: 10px 0 2px;
}

@media only screen and (max-width: 720px) {
	.cover-image-container {
		width: 100%;
		margin: 10px auto;
		/* color: white; */
	}

	.cover-image-container h2 {
		font-size: 20px;
	}

	.registered-user-title {
		/* color: white; */
	}

	.event-content {
		/* color: white; */
	}

	.event-content h3 {
		margin: 20px 0 0;
		font-size: 16px;
	}

	.event-content p {
		font-size: 16px;
	}

	.event-content .DraftEditor-root {
		font-size: 14px;
	}

	.event-nav {
		width: auto;
		box-shadow: 0 0 5px grey;
	}

	.event-nav p {
		font-size: 12px;
	}

	.event-external-link {
		margin: 20px auto;
	}

	.event-content .event-external-link p, .event-content .event-external-link a {
		font-size: 14px;
		margin: 2px auto;
	}

	.event-register .event-register-button {
		font-size: 18px;
		padding: 10px;
	}

	.event-box-oneday {
		font-size: 16px;
	}

	.registered-user {
		width: auto;
		padding: 0 10px;
		align-items: center;
		box-shadow: 0 0 5px grey;
	}

	.registered-user-option-button {
		left: 88%;
	}

	.registered-user-details {
		font-size: 14px;
	}

	.update-event-box {
		width: 90%;
		margin: 20px auto;
	}

	pre a {
		color: skyblue;
	}

	.update-event-input {
		width: 93%;
		font-size: 16px;
		padding: 10px 5px;
	}

	.update-event-label {
		/* color: white; */
		font-size: 18px;
		font-weight: 450;
	}

	.update-event-submit {
		font-size: 16px;
		border-radius: 10px;
		font-weight: bold;
		background: #ff003f;
		color: white;
		box-shadow: 0 0 5px grey;
		padding: 10px 5px;
		margin-left: 23%;
		margin-top: 20px;
	}

	.hieghtened-popup {
		top: 10%;
	}

	.excel-button {
		font-size: 16px;
	}
}