body {
  background: #FAF2EF;
}

.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #296F6A;
}

button {
  outline: none;
  border: none;
  border-radius: 10px;
  background: #f0f0f0;
  font-size: 15px;
  box-shadow: 1px 1px 5px black;
  cursor: pointer;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 60%;
  margin: 0 auto;
}

.page {
  width: 75%;
  margin-top: 40px;
}

.side {
  margin-top: 40px;
  width: 25%;
  font-size: 3vh;
  height: 100vh;
  position: sticky;
  top: 170px;
  height: 500px;
}

a {
  list-style-type: none;
  color: inherit;
  list-style: none;
  text-decoration: none;
}

@media only screen and (max-width: 720px) {
  .App {
    min-height: 800px;
    background: #FAF2EF;
  }

  hr {
    color: #E79981;
    border: 0.5px solid #E79981;
  }

  .main-container{
    width: 100%;
    /* font-size: .8em; */
  }

  .page {
    width: 100%;
    margin-top: 0;
  }

  .side {
    height: 0;
    right: 0;
    top: 50px;
    opacity: 0;
    transition: .3s cubic-bezier(0.01, 0.02, 0, 0.8);
  }

  .navbar-x {
    font-size: 20px;
    margin: 10px 1% 10px 90%;
    color: white;
  }

  .side-active {
    margin-top: 0;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    opacity: 1;
    background: linear-gradient(#ff003f, #ff0066);
    box-shadow: 1px 1px solid red;
    height: 100%;
    transition: .3s cubic-bezier(0.01, 0.02, 0, 0.8);
    overflow: scroll;
    z-index: 12;
  }
}